.custom-style-pagination .pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.custom-style-pagination .page-link {
    color: #dc3545;
    background-color: #000;
    border-color: #444;
}

.custom-style-pagination .page-link:hover {
    background-color: #444;
}

.custom-style-pagination .page-link:focus {
    box-shadow: none;
}

.custom-style-pagination .active > .page-link,
.page-link.active {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}

.custom-style-pagination .page-item.disabled .page-link {
    color: #444;
}

.form-select {
    --bs-body-bg: #000;
    --bs-body-color: #fff;
    --bs-border-color: #666;
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.no-result {
    text-align: center;
}

.no-result img {
    width: 100px;
}

.no-result span {
    color: #dc3545;
    font-size: 18px;
}
