.movie-card {
    width: 264px;
    height: 330px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: 0.5s;
}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 30px 12px;
    background-color: rgba(43, 41, 41, 0.9);
    opacity: 0;
    transition: all 1s;
    color: #fff;
    overflow-wrap: break-word;
}

.overlay:hover {
    opacity: 1;
}

.movie-card:hover {
    transform: scale(1.1) translateZ(10px);
    z-index: 2;
}

.movie-info {
    font-size: 14px;
}

.badge-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    padding: 0;
    justify-content: flex-start;
}

ul {
    padding-left: 18px;
    list-style: disc;
}
